/* add your CSS here */
body {
    color:black;
}
.animal-card {
    /* box-sizing:content-box; */
    width:330px;
    background-color: rgb(222, 224, 188);
    /* background-size: 340px; */
    border: 8px ridge rgba(144,141,164,0.43);
    border-radius: 10px;
    box-shadow:5px 10px rgba(6, 6, 17, 0.43);
}

.main-image { 
    padding:0px;
    margin:auto;
    width:300px;
    height: 200px;
    border:solid thin;
    border-radius: 6px;
    display: block;

}

.title {
    margin:5px 5px 8px 5px;
    font-size: x-large;
    text-align: center;
    padding:5px;
    color:black;
}

span{
    font-weight: bold;
}

.int-fact{
    font-style: italic;
    font-size: large;
    font-weight:bold;
    width: 295px;
    padding:10px;
 }


.box{
    color:black;
    padding:0px;
    margin:15px;
    width:300px;
    border:solid thin;
    border-radius: 10px;
    background-color:rgb(179, 176, 176);
    display: block;  
}

.un-list {
    width:300px;
    padding: 0px;
    background-color: beige;
}

.lower-info {
    width:295px;
    padding:10px;
    margin:2px;
}